@model IEnumerable<SouthAlive.Models.PageIntroduction>

@{
    ViewData["Title"] = "Index";
}
<div class="container">


    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th>
                    Introduction Page Elements
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id).&nbsp;
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>