@{
    ViewData["Title"] = "CONTACT";
}
@section styles{

    <style>
        .ContactTitle {
            padding: 30px;
            color: white;
            background: #1d90d3;
        }

        #Contact_IMG {
            margin: 0;
            padding: 0;
        }
    </style>

}
<nav class="Bread grey darken-1">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a class="breadcrumb dropdownAbout" href="#" data-activates='dropdownAbout'>About</a>
            <span class="breadcrumb">Introduction</span>
        </div>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdownAbout' class='dropdown-content'>
    <li><a href="/About/Introduction">INTRODUCTION</a></li>
    <li><a href="/About/Organisation">ORGANISATION</a></li>
    <li><a href="/About/Teams_And_Projects">TEAMS & PROJECTS</a></li>
    <li><a href="/About/Results">RESULTS</a></li>
    <li><a href="/About/SponsorInformation">SPONSER INFORMATION</a></li>
    <li><a href="/About/LocalInformation">LOCAL INFORMATION</a></li>
    <li><a href="/About/Contact">CONTACT</a></li>
</ul>

<div class="container">
    <div class="col l12">
        <div class="sr-zero-btn1">
            <h3 class="center ContactTitle z-depth-1"><b>Contact</b></h3><br />
        </div>
        <div class="col l12 center" id="Contact_IMG">
            <img class="responsive-img z-depth-1 mx-auto" src="~/images/about/Contact/contactBanner.png" alt="ABOUT US" />
        </div>
        <br />
        <h4>Contact Details</h4>
        <br />
        <p class="flow-text"><strong>Office: </strong>Shop 6, South City Mall. PO Box 7055, South Invercargill</p>

        <p class="flow-text"><strong>Opening hours:</strong>Mon & Tue 11.30am – 1.30pm; Wed 11.00am – 3.00pm; Thu 3.30 – 5.30pm; Fri 12.00 – 2.00pm</p>

        <p class="flow-text"><strong>Email: </strong>southalive@gmail.com</p>

        <p class="flow-text"><strong>Facebook:</strong> <a href="www.facebook.com/southalive">www.facebook.com/southalive</a></p>

        <p class="flow-text"><strong>Telephone: </strong>03 218 6882</p>

        <h4><strong>If you're keen to get involved or be a volunteer click <a href="#">here</a></strong></h4>

    </div>
</div>