@{
    ViewData["Title"] = "SPONSORS";
}
@section styles{

    <style>
        .SponsorTitle {
            padding: 30px;
            color: white;
            background: #317de6;
        }
        .SponsorContent > ul > li {
            list-style: disc;
            margin-left: 30px;

        }
        #SAThank {
            padding: 20px;
        }
        .SponsorBox {
            color: white;
            padding: 10px;
            margin-top:20px;
            margin-bottom: 20px;
        }
        .Gold {
            background: #CFB53B;
        }
        .GoldBorder > .sponsorhover {
            border: 3px solid #CFB53B;

        } 
        .Silver {
            background: #E6E8FA;
            color: #263238;
        }
        .SilverBorder > .sponsorhover {
            border: 3px solid #E6E8FA;

        }
        .Bronze {
            background: #8C7853;
        }

        .BronzeBorder > .sponsorhover {
            border: 3px solid #8C7853;
        } 

        .sponsorhover {
            padding:20px;
            border-radius:20px;
            min-height:300px!important;
        }


    </style>

}
<nav class="Bread grey darken-1">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a class="breadcrumb dropdownAbout" href="#" data-activates='dropdownAbout'>About</a>
            <span class="breadcrumb">Introduction</span>
        </div>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdownAbout' class='dropdown-content'>
    <li><a href="/About/Introduction">INTRODUCTION</a></li>
    <li><a href="/About/Organisation">ORGANISATION</a></li>
    <li><a href="/About/Teams_And_Projects">TEAMS & PROJECTS</a></li>
    <li><a href="/About/Results">RESULTS</a></li>
    <li><a href="/About/SponsorInformation">SPONSER INFORMATION</a></li>
    <li><a href="/About/LocalInformation">LOCAL INFORMATION</a></li>
    <li><a href="/About/Contact">CONTACT</a></li>
</ul>


<div class="container">
    <div class="col s12 SponsorContent">
        <div>
            <h3 class="center SponsorTitle z-depth-1 sr-zero-btn1"><b>Sponsors</b></h3><br />
        </div>
        <h4>Interested in Supporting South Alive?</h4>
        <p class="flow-text">Thanks for your interest in helping South Alive. Support from local organisations and businesses has been critically important in achieving our project goals, and we’re very grateful for the help we’ve received. You’ll see a list below of those who have helped us so far.</p>
        <p class="flow-text"><strong>There are lots of different ways you could consider supporting us. Some possibilities we can think of are:</strong></p>
        <ul>
            <li>Donating services e.g. plumbing, electrical, building, window cleaning …the list is probably endless.</li>
            <li>Donating products, either for specific projects, or as prizes for our fundraising.</li>
            <li>Donating labour – organising a team from your work to help with one of our projects either as a one-off, or on an ongoing basisless.</li>
            <li>Raising money for us through your own fundraising, or if you’re a retail business perhaps asking customers if they’d be willing to add a dollar to their bill for a day, a week, one day a month etc.</li>
        </ul>
        <p class="flow-text"><strong>In return, we can discuss a range of possibilities, including:</strong></p>
        <ul>
            <li>Inclusion in our newsletter, an A3 sized page in The Eye which has a circulation of 28,500 and a readership of 38,000 in Invercargill and beyond (source Fairfax)</li>
            <li>A listing on our home page for a month or, as a gold sponsor, a permanent position on our home page.</li>
            <li>Ongoing inclusion on our list of sponsors on the website.</li>
            <li>Media coverage if the activity suits this e.g. when Masterbuilders built our stage for us, it was covered by the Southland Times, The Express, The Eye and Cue TV, with the item repeated over the weekend. It was also featured in our newsletter.</li>
            <li>Signage e.g. Resene paints sign appears on the fence in our community garden for it's donation of paint for the garden boxes, and Masterbuilders will have a sign on the stage.</li>
            <li>Includsion on our Facebook page by way of photos and stories.</li>
            <li>Other customised benefits that fit the situation.</li>
        </ul>
        <h5 class="center">Contact the co-ordinator directly on: (03) 218 6688 / (021) 463 779</h5>
        <br />
        <h5 class="center">Or</h5>
        <br />
        <div class="center">
            <span><a class="btn btn-primary" href="#">Contact Us</a></span>
        </div>
        <br /><br />
        <p class="flow-text orange white-text center z-depth-1" id="SAThank">South Alive would like to thank the following sponsors for their support during 2013 & 2014</p>
        <br /><br />

        <div class="col l12 Gold SponsorBox center mx-auto z-depth-1"><h3><strong>Gold sponsors</strong></h3></div>
        <div class="row mx-auto GoldBorder">
            <div class="col m12 col l6 mx-auto sponsorhover">
                <p class="flow-text"><strong>Invercargill City Council</strong></p>
                <p class="flow-text"><i>Funds coordinator, provides invaluable staff assistance and project funding.</i></p>
            </div>

            <div class="col m12 l6 mx-auto sponsorhover">
                <p class="flow-text"><strong>Patron of South Alive’s national sculpture competition</strong></p>
                <p class="flow-text"><i>$116,000 funding to South Alive for its national sculpture competition.</i></p>
            </div>

            <div class="col m12 l6 mx-auto sponsorhover">
                <p class="flow-text"><strong>South Roads</strong></p>
                <p class="flow-text"><i>Excavation and ground preparation at South Alive Park in Ness Street</i></p>
            </div>

            <div class="col m12 l6 mx-auto sponsorhover">
                <p class="flow-text"><strong>Community Trust of Southland</strong></p>
                <p class="flow-text"><i>Funding towards our Communications budget. Funding for a Neighborhood Projects Fund. Financial assistance to bring Peter Kenyon out in 2012 and 2013.</i></p>
            </div>

            <div class="col m12 l6 mx-auto sponsorhover">
                <p class="flow-text"><strong>Contel Holdings (Mall Owners)</strong></p>
                <p class="flow-text"><i>Free office rent, Minimal rent for community park land, rear of mall.</i></p>
            </div>

            <div class="col m12 l6 mx-auto sponsorhover">
                <p class="flow-text"><strong>Craig Pocock Design</strong></p>
                <p class="flow-text"><i>Pro bono help with design and plans for outdoor gym, stage, mall seating, and the fit out concept and plans for the Community Artspace.</i></p>
            </div>

        </div>

    </div>

    <div class="col l12 Silver SponsorBox center mx-auto z-depth-1"><h3><strong>Silver sponsors</strong></h3></div>
    <div class="row mx-auto SilverBorder">
        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Digital Stock</strong></p>
            <p class="flow-text"><i>Providing assistance on upgrading of our website</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Preston Russell Law</strong></p>
            <p class="flow-text"><i>Assisting with legal advice and services to the Trust</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Active and Creative Communities Funds</strong></p>
            <p class="flow-text"><i>Funds to assist wall mural and outdoor gym in community park, and arts courses in Community Artspace.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Alliance Freezing Works</strong></p>
            <p class="flow-text"><i>Demolition materials from Mataura Works for recycling in South City upgrade. Free supply of pallets, assistance to buy things at really cheap prices.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Hirepool</strong></p>
            <p class="flow-text"><i>Free loan of heavy equipment on many occasions for clearing, clean-ups and construction.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Masterbuilders Association</strong></p>
            <p class="flow-text"><i>Constructing the stage in our community park.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Network Electrical Services</strong></p>
            <p class="flow-text"><i>Significant contribution towards lighting in the park.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>New World Elles Road</strong></p>
            <p class="flow-text"><i>Donation of glider machine for outdoor gym in community park. Numerous donations of products for events and prizes.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Resene Paints</strong></p>
            <p class="flow-text"><i>Donation of all paint required for garden boxes in community park, which was also enough to paint the mall chairs.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>South City Gifts and Lotto</strong></p>
            <p class="flow-text"><i>Twin seat for mall and on-going general support.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Warwick Cambridge, Preston Russell Lawyers</strong></p>
            <p class="flow-text"><i>Trust’s pro bono lawyer.</i></p>
        </div>

        <div class="col m12 l6 mx-auto">
            <p class="flow-text"><strong></strong></p>
            <p class="flow-text"><i></i></p>
        </div>


    </div>

    <div class="col l12 Bronze SponsorBox center mx-auto z-depth-1"><h3><strong>Bronze sponsors</strong></h3></div>
    <div class="row mx-auto BronzeBorder">

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Alliance Freezing Works</strong></p>
            <p class="flow-text"><i>Donating demolition materials from Mataura Works for use in our streetscape upgrade</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Balance Agri-Nutrients Ltd </strong></p>
            <p class="flow-text"><i>Providing free fertilizer for our community garden lawn</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>G E Brown Engineering</strong></p>
            <p class="flow-text"><i></i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Mitre 10 Mega</strong></p>
            <p class="flow-text"><i>Donated timer for automatic watering system and other materials plus garden seat prize for garden competition.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>SIT – Arts and Design</strong></p>
            <p class="flow-text"><i>Coordinating art work in the park and other arts and design assistance.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Stadium Southland</strong></p>
            <p class="flow-text"><i>Provision of backboard and hoop for basketball court.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>TNL Group Ltd</strong></p>
            <p class="flow-text"><i>Free cartage of pallets for outdoor gym seating.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>TNZ</strong></p>
            <p class="flow-text"><i>Supply of free mulch to fruit and nut tree group</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Newfield Tavern</strong></p>
            <p class="flow-text"><i>Hospitality and food for our volunteers at Yellow Drinks</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>New World Elles Road, DN Brown Ltd, E Hayes & Sons, Saecowilson, Spot on Panel Repairs, Wilson Bros, Beaurepairs</strong></p>
            <p class="flow-text"><i>For supporting the construction of our Outdoor gym</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>ICC Urban Rejuvenation Fund</strong></p>
            <p class="flow-text"><i>Support for the fit-out of the Community Artspace</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>ICC Parks and Invercargill Active Communities Scheme</strong></p>
            <p class="flow-text"><i>Support for the construction of our Outdoor gym</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Kathryn Mitchell, SIT </strong></p>
            <p class="flow-text"><i>For all her help with our community art projects</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Southland Glass</strong></p>
            <p class="flow-text"><i>Replacing the broken glass in the door to Community Artspace</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Southland Sport Bar, Elles Road</strong></p>
            <p class="flow-text"><i>Hospitality and food for our hungry volunteers at Yellow drinks</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>South City Gifts & Lotto Shop</strong></p>
            <p class="flow-text"><i>Continuous help minding the keys to our gallery and office and general all round support</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Stella Hire Company </strong></p>
            <p class="flow-text"><i>Free hire of equipment + free delivery and pick up</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Dongwha Patinna Ltd</strong></p>
            <p class="flow-text"><i>For giving us a fantastic price on all the MDF board for our new gallery fitout</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Bin Inn</strong></p>
            <p class="flow-text"><i>for allowing us to install an outdoor electrical point for the stage on their wall, with their power.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>South City Electrical </strong></p>
            <p class="flow-text"><i>for donating the labour to install the outdoor electrical point - now we have power to the stage!</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Southland Sports Bar</strong></p>
            <p class="flow-text"><i>for once again hosting our Yellow Drinks and donating platters to our hungry volunteers</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Aurora College</strong></p>
            <p class="flow-text"><i>Free room rental for many meetings. Academy students help with research and clean-ups</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Balance Agri-Nutrients Ltd</strong></p>
            <p class="flow-text"><i>Providing free fertilizer for our community park lawn.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Bin Inn</strong></p>
            <p class="flow-text"><i>Digger driving, Supply of power to community park for various occasions and being a helpful and supportive neighbor.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Chep Ltd</strong></p>
            <p class="flow-text"><i>Supply of 45 pallets for seating at the Outdoor Gym.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Department of Corrections</strong></p>
            <p class="flow-text"><i>Lots of labour for working bees, participation in Zero rubbish project.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Diacks Nurseries Ltd</strong></p>
            <p class="flow-text"><i>Discounts on trees for projects Assistance with projects e.g. planting hanging baskets, running workshops, judging garden competitions and provision of prizes for many activities.</i></p>
        </div>

        <div class="col m12 l6 mx-auto sponsorhover">
            <p class="flow-text"><strong>Dongwha</strong></p>
            <p class="flow-text"><i>Supply of free MDF board for office shelving and Community Artspace partitions.</i></p>
        </div>



    </div>
</div>
@section Scripts{
    <script>
            $(document).ready(function () {
                $('.sponsorhover').hover(function () {
                    $(this).toggleClass('z-depth-1');
                });
            });
    </script>
}
