@{
    ViewData["Title"] = "INTRODUCTION";
}
@section styles{

    <style>
        .TeamTitle {
            padding: 30px;
            color: white;
            background: green;
        }
        .TeamProjectList > h5 {
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
        } 
        .TeamProjectList > ul > li {
            list-style: disc;
            margin-left: 40px;
        }

    </style>

}

<nav class="Bread grey darken-1">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a class="breadcrumb dropdownAbout" href="#" data-activates='dropdownAbout'>About</a>
            <span class="breadcrumb">Introduction</span>
        </div>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdownAbout' class='dropdown-content'>
    <li><a href="/About/Introduction">INTRODUCTION</a></li>
    <li><a href="/About/Organisation">ORGANISATION</a></li>
    <li><a href="/About/Teams_And_Projects">TEAMS & PROJECTS</a></li>
    <li><a href="/About/Results">RESULTS</a></li>
    <li><a href="/About/SponsorInformation">SPONSER INFORMATION</a></li>
    <li><a href="/About/LocalInformation">LOCAL INFORMATION</a></li>
    <li><a href="/About/Contact">CONTACT</a></li>
</ul>

<div class="container">
    <div class="col s12 TeamProjectList">
        <div class="sr-zero-btn1">
            <h3 class="center TeamTitle z-depth-1-half"><b>Teams And Projects</b></h3><br />
        </div>
        <br />

        <h4 style="padding-left:20px;"><strong>Teams and Projects in 2014</strong></h4><br />


            <h5 class="purple white-text TeamsName hoverable"><strong>Housing</strong></h5>
            <ul>
                <li><strong>Good Neighbour Project -</strong> Assistance with gardens of selected residents in need</li>
                <li><strong>Garden Competition -</strong> Second competition completed. Next probably 2016</li>
                <li><strong>Eco house construction & refit -</strong> Looking at location and model to build an energy efficient new home and refit an older house</li>
            </ul><br />

        <h5 class="green white-text TeamsName hoverable"><strong>Fruit & Nut Trees</strong></h5>
        <ul>
            <li><strong>Fruit tree planting -</strong> Planting fruit and nut trees in public places, mulching, pruning. Next step planting fruit bushes under trees</li>
        </ul><br />

        <h5 class="yellow TeamsName hoverable" style="color:#263238"><strong>Beautification</strong></h5>
        <ul>
            <li><strong>Pop-up flower gardens -</strong> Planting donated flowers in roadside spaces, with permission of owners e.g. in front of businesses.</li>
            <li><strong>Hanging baskets on Elles Road -</strong> Replanted each spring and at the end of summer.</li>
            <li><strong>Zero Rubbish -</strong> Keeping South Invercargill parks and streets free of rubbishby persuading residents, groups and organisations to adopt areas and pick up the rubbish on a regular basis</li>
            <li><strong>Gateways identification to South Invercargill -</strong> Developing a brief and concept design to identify at least two of the gateways to South Invercargill. First two gateways, Clifton and Scott St.</li>
        </ul><br />

        <h5 class="teal white-text TeamsName hoverable"><strong>Children & Youth</strong></h5>
        <ul>
            <li><strong>Bike Loan Scheme -</strong> Acquired 12 bikes to start a free bike loan scheme. Currently developing how this will work.</li>
            <li><strong>Other Prohects in Development</strong></li>
        </ul><br />

        <h5 class="blue white-text TeamsName hoverable"><strong>Arts</strong></h5>
        <ul>
            <li><strong>Community Artspace -</strong> Opening an artspace in the South City shopping mall. Will hold exhibitions, provide arts and other courses, and have artists in residence from time to time Wall mural on Bin Inn Wall in community park</li>
        </ul><br />

        <h5 class="orange white-text TeamsName hoverable"><strong>South City Shopping</strong></h5>
        <ul>
            <li><strong>Changes to streetscapes in Martin St and Elles Road installation -</strong> Changes to Martin Street & Elles Road to provide covered seating, trees and art. Elles Road to include lighted poles at night. Running national sculpture competition to install major sculpture at north entrance.</li>
            <li><strong>Mall Changes -</strong> Seats for the mall project, as well as art and plants. Assisting landlord with upgrades and maintenance</li>
            <li><strong>Community Park Project -</strong> Constructing a community park in the area between the back of the mall and Ness Street. The park includes 18 community garden boxes, a half basketball court, large performance stage, an outdoor gym and a mound and grass areas. In time we hope to also have a café.</li>
        </ul><br />

        <h5 class="pink white-text TeamsName hoverable"><strong>Stronger Neighbourhoods</strong></h5>
        <ul>
            <li><strong>Over the Fence -</strong> Promoting/assisting neighbours to get to know each other. Project will provide information kits and materials, and suggested events, with subsidies available e.g. coffee mornings, BBQ lunch or dinners</li>
            <li><strong>Neighbourhood Project Fund -</strong> Funding of up to $1,000 for neighbourhood level projects where this is matched by in-kind contributions from participants.</li>
        </ul><br />

        <h5 class="orange darken-1 white-text TeamsName hoverable"><strong>Marketing & Events</strong></h5>
        <ul>
            <li><strong>South Invercargill Trails -</strong> Telling the unique story of South Invercargill, past and present. Identifying ‘must visit’ places. Producing maps</li>
            <li><strong>Media relations, promotion and events -</strong> On-going publicity and news about South Alive. Developing and supporting events. Assistance to groups in promoting their events.</li>
        </ul>
    </div>
</div>