@inject UserManager<ApplicationUser> userManager

@section Styles{
    <style>
        .teamManager {
            margin-top: 0;
        }

            .teamManager i {
                position: relative;
                top: 5px;
            }

        .team-img {
            width: 100%;
            height: auto;
        }

        #team1-Container > div:first-child > h3 {
            padding: 20px 0;
        }

        #team1-Container ul {
            margin-left: 10px;
        }

        .Bread {
            margin-bottom: 0;
        }
    </style>
}

<nav class="Bread grey darken-1">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/teams" class="breadcrumb">TEAMS</a>
            <span class="breadcrumb">TEAM 9</span>
        </div>
    </div>
</nav>

<div class="container" id="team1-Container">
    <div>
        <h3 class="center white-text red darken-2">Team: Dog Park</h3>
    </div>

    <div>
        <img class="team-img" src="~/images/Teams/projectdog.jpg" />

        <br />
        <h6><b>Convenor:</b> Contact South Alive office</h6>
        <h6><b>Email:</b> southalive@gmail.com</h6>
        <h6><b>Telephone:</b> 03 218 6882</h6>

        <br />
        <h5><b>Purpose:</b></h5>
        <p>To achieve the establishment and successful running of a dog park in South Invercargill</p>
        
        <br />
        <h5>What have we done?</h5>
        <ul class="browser-default">
            <li>One of the priority projects from April 2012 public meeting</li>
            <li>South Alive identified all possible locations in South Invercargill, assessed them, and pursued chosen site through to obtaining Council agreement to fund and construct the dog park</li>
            <li>The dog park opened in October 2013</li>
        </ul>
        
        <br />
        <h5>Forward plans</h5>
        <p>South Alive’s role is now one of facilitation and oversight. We will convene a meeting of dog park users and Council park staff twice a year to discuss how the park is working and any changes or improvements needed.</p>
        <p>Next steps include the addition of more seating and shelter, night lighting and exercise equipment for dogs..</p>
        <br />
    </div>
</div>

