@{
    ViewData["Title"] = "Volunteer";
}
@section styles{

    <style>
        .ContactTitle {
            padding: 30px;
            color: white;
            background: #239040;
        }

    </style>

}
<nav class="Bread grey darken-1">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb"><i class="fa fa-home" aria-hidden="true"></i></a>
            <span class="breadcrumb">Volunteer</span>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col l12">
        <div class="sr-zero-btn1">
            <h3 class="center ContactTitle z-depth-1"><b>Volunteer</b></h3><br />
        </div>
        <div class="col l12 center" id="Contact_IMG">
            <img class="responsive-img z-depth-1 mx-auto" src="~/images/volunteerBanner2.jpg" alt="ABOUT US" />
        </div>
        <h4>South Alive is made of volunteers</h4>
        
        <p>The South Alive volunteers are the centre of our organisation, and they are the people who make our projects happen. ‘Many hands make light work’, and we are always keen for more people to join us. It’s also a great way to make new friends.</p>

        <h4>There are all kinds of ways to volunteer</h4>
        
        <p>You help will be deeply appreciated, and we can find a role or job that will suit you. Some examples of the different ways you could volunteer include:</p>

        <ul>
            <li>Joining a team, that means you are working with others on a regular basis to manage the team's projects.</li>
            <li>If you prefer to work when it suits you, you could choose volunteer opportunities that can be done in your own time - for example, adopting a street in the Zero Rubbish prohect or a pop-up garden to plant and keep weeded.</li>
            <li>Doing a specific job, when you can commit to a day/time in advance, e.g. staffing our artspace during exhibitions, helping with administration etc.</li>
            <li>Volunteering from time to time, on a casual basis, when it suits. We can contact you when we're doing working bees or have other jobs we need help for like stuffing envelopes or putting up posters. Even with working bees, there's generally a range of tasks to suit all abilites, cinluding making morning tea, transportinf things and so on.</li>
        </ul>
        
        <h4>Specific Volunteer opportunities</h4>
        <p>Check out the team pages to find specific opportunities with each team. Or you can be a casual volunteer, taking part when it suits. Then sign-up below.</p>
        
        <p class="center"><a class="btn" href="/Account/Register">Volunteer</a></p>  
        <br />
        <br />
    </div>
</div>