@section Styles{
    <style>
        p {
            line-height:1em;
            font-size:1.2em;
        }
    </style>
}

<div class="container">

    <h4 class="green white-text center z-depth-1-half" style="padding:20px;margin-bottom:30px;">Donate</h4>
    <p>Donations are very welcome, and gratefully received. 100% of your donation will be used to help South Alive do its work.</p>
    <p>Donations can be made directly to our bank account:</p>
    <p><b>South Invercargill Urban Rejuvenation Charitable Trust</b></p>
    <p><i>Westpac</i></p>
    <p><b>03-1745-0412960-00</b></p>

    <p>If you would like a receipt to claim your tax rebate, please email or call us with the following information:</p>

    <ul class="browser-default">
        <li>Your name</li>
        <li>Your address</li>
        <li>The amount and date of your donation</li>
    </ul>

    <p>Our email: <b>southalive@gmail.com</b></p>
    <p>Our telephone: <b>03 218 6882</b></p>
    <p>Our address: <b>PO Box 7055, Invercargill</b></p>

</div>